<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.gamedest.githubusersubmission2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission
        android:name="id.gamedest.githubusersubmission2.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="id.gamedest.githubusersubmission2.WRITE_DATABASE"
        android:protectionLevel="normal" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUserSubmission2"
        tools:targetApi="31"
        tools:ignore="GoogleAppIndexingWarning">


        <service
            android:name=".helper.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="id.gamedest.githubusersubmission2.BIND_REMOTEVIEWS"/>

        <receiver android:name=".user.FavoritesStackWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_stack_widget_info" />
        </receiver>
        <provider
            android:name=".user.UserFavoriteProvider"
            android:authorities="id.gamedest.githubusersubmission2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="id.gamedest.githubusersubmission2.READ_DATABASE"
            android:writePermission="id.gamedest.githubusersubmission2.WRITE_DATABASE" />


        <activity
            android:name=".user.FavoritesActivityMain"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailUser"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>